
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #ffffff;
}

.block{
  border: 2px solid black;
  height: 100px;
  width: 100px;
  cursor: pointer;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: bold;
}

.row{
  display: flex;
}

.board{
  margin: auto 30vw;
}